<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="application.css">
  </head>
<body>
<!-- header -->
  <header>
    <ul class="nav-list">
      <li class="nav-list-item">
        <a>ツイート</a>
      </li>
      <li class="nav-list-item">ツイートと返信</li>
      <li class="nav-list-item">メディア</li>
      <li class="nav-list-item">いいね</li>
    </ul>
  </header>
</body>
</html>